@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.word {
	display: flex;
	height: 3rem;
	line-height: 3rem;
	font-size: 1.5rem;
	margin: 4px;
	opacity: 0;
	animation: fadeIn ease-out 300ms 0ms forwards;
	position: relative;
}

.shield {
	position: absolute;
	content: "";
	height: 100%;
	top: 0;
	background-image: linear-gradient(
		to right,
		color-mix(in srgb, var(--app-background) 0.1%, transparent) 0%,
		color-mix(in srgb, var(--app-background) 100%, transparent) 100%
	);
	background-repeat: no-repeat;
	background-size: cover;
	/* background: color-mix(in srgb, var(--app-background) 50%, transparent); */
	z-index: 99;
}
