:root {
	--green: #4a934a;
	--red: #c32222;
	--orange: #fa881e;
	--border: #444;
}

/* c, #53a653, #4a934a, #408140, #376e37. Brand original color codes, colors palette. */

.toast {
	background: var(--orange);
	color: black;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.game-container {
	text-align: center;
	width: 600px;
	height: 34rem;
	margin: 4rem auto;
	border: solid 3px tan;
	border-radius: 1rem;
}

#game {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

#game:nth-child(2) {
	/* flex-grow: 1; */
}
